.login-container{
    width: 80%;
    margin: auto;
    max-width: 1080px;
    min-height: 100%;
    height: 100vh;
}


.login-fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
}

.login-title{
    font-family: "Fredoka One";
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
}

.login-tag{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
}

.login-fields--inner{
    display: flex;
    flex-direction: column;
    gap: 20px;
width: 100%;
justify-content: center;
align-items: center;
}

.login-fields--inner input{
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    background-color: rgba(114, 159, 193, 0.07);
    border-width: 0;
    padding: 14px;
    width: 60%;
    outline: none;
}
.field-btn--inner{
    padding: 2% 4%;
    background: #000;
    color: #999999;
    border-radius: 30px;
    width: fit-content;

    font-family: "Fredoka One";
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 4px;
    transition: all 0.4s ;
}

.field-btn--inner:hover{
    padding: 2% 4%;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 6px;
}

.sign-link{
    text-decoration: none;
    cursor: pointer;
    text-decoration: underline;
    color: #333333 !important;
} 

@media (width<=980px) {
    .login-title{
         
        font-size: 50px;
        line-height: 60px;
    }
    .login-fields--inner input{
        width: 80%;
    }
}

@media (width<=770px) {
    .login-title{
         
        font-size: 40px;
        line-height: 46px;
    }

    .login-fields--inner input{
        width: 100%;
    }
}

@media (width<=770px) {
 
    .login-tag{
        
        font-size: 16px;
        line-height: 32px;
    }
}

@media (width<=600px) {
    .field-btn--inner{
        padding: 4% 7%;
    }
}